{% extends 'cricket/layout.html' %}
{% load static %}

{% block body %}
    <div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 100px;" id="initial">
        <button class="btn btn-outline-secondary" type="button" id="btn-new-game">New Game</button>
        <button class="btn btn-outline-secondary" type="button" id="btn-load-game">Load Game</button>
    </div>

    <div style="display: none;"><a id="secret" href="{% url 'gamecontent' %}">load</a></div>

    <div id="new" style="display: none; text-align: center; margin-top: 20px;">
        <h4>New Game</h4>
        <form action="{% url 'game' %}" method="post">
          {% csrf_token %}
            <div class="row d-flex justify-content-center" style="margin-top: 20px;">
              <div class="col col-3">
                <select class="form-select border border-black" aria-label="Default select example" name="team1">
                  <option selected>Team 1</option>
                  {% for team in teams %}
                  <option value="{{ team.name }}">{{ team.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <span class="col col-2">VS</span>
              <div class="col col-3">
                <select class="form-select border border-black" aria-label="Default select example" name="team2">
                  <option selected>Team 2</option>
                  {% for team in teams %}
                  <option value="{{ team.name }}">{{ team.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div style="margin-top: 40px;">
                <input type="submit" class="btn btn-danger">
              </div>
            </div>
        </form>
    </div>
{% endblock %}